.options-page{
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: left;
    width: 350px;
}

.account-title-container{
    text-align: left;
    font-size: 38px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 20px;
}

.account-page-button{
    margin-top: 15px;
    width: 200px;
   margin-right: 70px;
    height: 60px;
    font-size: 18px;
}