body {
    background-color: White;
}

form.register-form {
    padding: 20px;
}

.spacer-account{
    margin-top: 100px;
}

.register-container {
    box-shadow: 0px 0px 9px 1px #0000004f;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
}

input.register-input {
    margin-block: 15px;
}

h2.title {
    text-align: center;
    padding-bottom: 5px;
}

button.register-button {
    background: #1d9bf0;
    width: -webkit-fill-available;
}

.gender-selector-register{
    width: 83%;
    height: 38px;
    text-align: center;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
    border-color: lightgray;

}

.register-input{
    width: 460px !important;
}

.phone-container-register{
    margin-top: 15px;
}

