body {
    background-color: #2d3574;
}

form.login-form {
    padding: 20px;
}

.spacer-login {
    padding-inline: 20px;
}

.login-container {
    -webkit-box-shadow: 0px 0px 9px 1px #0000004f;
    -moz-box-shadow: 0px 0px 9px 1px #0000004f;
    box-shadow: 0px 0px 9px 1px #0000004f;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    margin-top: 15%;
}

input.login-input {
    margin-block: 15px;
}

h2.title {
    text-align: center;
    padding-bottom: 5px;
}

button.login-button.btn.btn-secondary {
    background: #1d9bf0;
    width: -webkit-fill-available;
}

.extra-links {
    text-align: center;
    color: #1d9bf0;
    margin-top: 10px;
}

.link {
    text-decoration: none;
}